* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:rgb(250, 146, 164);
  }

  .navbar {
    background-color: #ffffffba;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:#000000 2px solid;
  }

  .navbar .logo {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }

  .navbar .menu {
    display: flex;
  }

  .navbar .menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 12px;
    transition: background-color 0.3s;
    transition:0.3s;
  }

  .navbar .menu a:hover {
    background-color:rgb(250, 146, 164);
    border-radius: 5px;
    color:#ffffff;
    border:#000000 solid 1px;
    
  }


  .search-container {
    display: flex;
    align-items: center;
  }

  .search-container input[type="search"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 200px;
    background-color:#555;
    color:pink;
    
  }

  .search-container button {
    padding: 8px 12px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    transition:0.3s;
  }

  .search-container button:hover {
    background-color:rgb(250, 146, 164);
    color:#000000;
  }


  .section1{
    background-color:rgb(255, 159, 175);
    border: white 2px solid;
    display: flex;
    justify-content: center;  
    align-items: center; 
    flex-wrap:wrap;
    margin:1%;
    width:1490px;
    height:20000;
    padding-top:3%;
    padding:2%;
    gap:10%;
  }

  .box{
    background-color:#ffffff;
    border-radius:12px;
    border: 2px solid rgb(0, 0, 0);
    margin:2px;
    width:900px;
    height:400px;
    display: flex;
    justify-content: center;  
    align-items: center; 
    gap:2%;
  }

  .cat1{
    width:370px;
    height:300px;
    background-color:#454545;
    border-radius:12px;
    border:solid 2px black;
    background-image: url(siamese-cats.webp); 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;
  }

  .cat2{
    width:370px;
    height:300px;
    background-color:#454545;
    border-radius:12px;
    border:solid 2px black;
    background-image: url(persian-cat.jfif); 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;
  }

  .cat3{
    width:370px;
    height:300px;
    background-color:#454545;
    border-radius:12px;
    border:solid 2px black;
    background-image: url(british-cats.jpg); 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;
  }

  .cat4{
    width:370px;
    height:300px;
    background-color:#454545;
    border-radius:12px;
    border:solid 2px black;
    background-image: url(bombay-cats.webp); 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;
  }

  .cat5{
    width:370px;
    height:300px;
    background-color:#454545;
    border-radius:12px;
    border:solid 2px black;
    background-image: url(scottish-cats.webp); 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;
  }










  .des{
   
    width:400px;
    height:300px;
    padding:1%;
  }

  .buy{
    
    height:40px;
    margin-left:20%;
    padding:3%;
    border-radius:10px 60px 30px;
    padding-left:3%;
    width:100px;
    color:#ffffff;
    background-color:#454545;
    transition:0.3s;
  }

  .buy:hover{
    background-color:rgb(255, 156, 156);
    border:solid 2px #454545;
    color:#000000;
    box-shadow: 0 4px 10px rgba(16, 16, 16, 0.8);
  
  }

  .more{
    text-decoration:none;
    height:40px;
    margin-left:13%;
    padding:3%;
    border-radius:13px;
    padding-left:3%;
    width:100px;
    color:rgb(0, 0, 0);
    transition:0.3s;
  }

  .more:hover{
    text-decoration:underline;
    color:#000000;
  }